:root {
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario: #0097A7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
    --hover: #0056b3;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(-oscuro);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

}
button:hover {
    background-color: var(--hover);
}